@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import './patterns/globals/variables';
@import './patterns/globals/typography';
@import './patterns/components/components';
@import './patterns/modules/modules';
@import './patterns/helpers/helpers';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}
