.admin-panel {
    position: absolute;
    color: $color-white;
    left: 0;
    display: inline-flex;
}

.admin-panel__navigation {
    width: 200px;
}

.admin-panel__panel {
    position: absolute;
    left: 200px;
}
