.navigation {
    position: relative;
    background-color: rgba($color-black, .7);
    color: $color-white;
}

.navigation__item {
    user-select: none;
    padding: 15px 0;
    cursor: pointer;

    &:not(:last-child) {
        padding-bottom: 0;
    }
}

.navigation__sublist {
    padding: 0 15px;
    opacity: 0;
    pointer-events: none;
    max-height: 0;
    transition: $transition-duration $transition-easing;

    & > .navigation__item {

        &:last-child {
            padding-bottom: 0;
        }
    }

    .navigation__item.is-open & {
        opacity: 1;
        pointer-events: all;
        max-height: 100%;
    }
}

/*
.navigation {
    width: 100%;
    background-color: rgba($color-black, .7);
    color: $color-white;
    transition: $transition-duration $transition-easing;
    transition-property: opacity, width, height;

    &.is-hidden {
        height: 0;
        width: 0;
        opacity: 0;
        pointer-events: none;
    }
}

.navigation__icon {
    font-size: 24px;
    margin-right: 8px;
}

.navigation__items {
    padding: 15px 0;
}

.navigation__item {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    user-select: none;
    transition: background-color $transition-duration $transition-easing;

    &:hover {
        background-color: rgba($color-green, .7);
    }

    &.is-current {
        background-color: $color-green;
    }
}
*/
