.navigation {
    position: relative;
    background-color: rgba($color-black, .7);
    color: $color-white;
}

.navigation__item {
    user-select: none;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color $transition-duration $transition-easing;

    &:hover {

        &:not(.is-open) {
            background-color: $color-green;
        }
    }
}

.navigation__sublist {
    pointer-events: none;
    max-height: 0;
    transition: max-height $transition-duration $transition-easing;
    overflow: hidden;
    margin-left: -30px;
    margin-right: -30px;
    text-align: center;

    & > .navigation__item {

        &:first-child {
            margin-top: 15px;
        }
    }

    .navigation__item.is-open & {
        opacity: 1;
        pointer-events: all;
        max-height: 100%;
    }
}
