$font-size-small: 14px;
$font-size-regular: 16px;
$font-size-large: 18px;

$letter-spacing-default: 1.1px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$color-black: #000000;
$color-white: #ffffff;
$color-green: #02a80b;
$color-gray: #5f5f5f;

$transition-duration: .3s;
$transition-easing: ease;
